
<div class="banner">
    <div class="title">
        <h1 class="name-text col-md-12">Log In | Voice First</h1>
        <p class="mt-5" col-md-12>Log In to Make Your<span class="secondary-color"> Voice</span> Heard</p>
    </div>
</div>
<!--  -->
<div class="wrapper">
    <div class="container">
        <div class="user login-box">
          <div class="imgBx"><img src="assets/images/loginform.png" alt="" /></div>
          <div class="form-box">
            <form action="" [formGroup]="loginForm">
              <h2>LOGIN</h2>
              <input type="text" name="" placeholder="Username" formControlName="username"/>
              <input type="password" name="" placeholder="Password" formControlName="password"/>
              <input type="submit" name="" value="Login" (click)=" onLogin()" />
              <p class="signup">
                Don't have an account ?
                <a onclick="toggleForm();">Sign Up.</a>
              </p>
              @if(warningMsg){
                <div class="warning-box">
                  <p><i class="bi bi-exclamation-triangle"></i>&nbsp;You are already Logged in</p>
                  <a style="text-decoration: underline;" routerLink="home">Go to Home</a>
                </div>
              }

            </form>
          
          </div>
          
        </div>
        <div class="user signup-box">
          <div class="form-box">
            <form>
                @if(CreateAccountView){
                    <h2>Create an account</h2>
                    <input type="text" name="" placeholder="First Name" />
                    <input type="text" name="" placeholder="Last Name" />
                    <input type="email" name="" placeholder="Email Address" />
                    <input type="text" name="" placeholder="Phone number" />
                    <input type="submit" name="" value="Next" (click)="onRegNext()"/>
                }
                @else {
                    <i class="fa fa-angle-left" (click)="onRegBack()"></i>
                    <h2>Set Password</h2>
                    <input type="password" name="" placeholder="Create Password" />
                    <input type="password" name="" placeholder="Confirm Password" />
                    <input type="submit" name="" value="Sign Up" />
                }
              <p class="signup">
                Already have an account ?
                <a onclick="toggleForm();">Sign in.</a>
              </p>
            </form>
         

          </div>
          <div class="imgBx"><img src="assets/images/loginform.png" alt="" /></div>
        </div>
    </div>
</div>

<!--  -->
<div class="wrapper-1">
    <div class="heading-with-lines"> 
        <h1>Join <span class="secondary-color">Voice First</span></h1>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="content">
            <p class="content-text">Register your business and connect directly with your customers to enhance their experience and improve your services!</p>
        </div>
        <div class="content">
            <button class="register-btn" role="button" (click)="goToRegister()">REGISTER NOW</button>
        </div>
    </div>
</div>

