
.content-card{
  background-color: #ffffff;
  min-height: 80vh;
  padding:20px;
  border-radius: 20px;
}

.trash-icon:hover{
    color: rgb(221, 50, 50);
}
td {
    font-size:.9rem;
}

.companyadd-btn{
  background: #212529;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
}



  /* company profile image */

  #profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #9b9b9b;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    border:10px solid gainsboro;
  }

  .upload-button{
    margin-top: -26px;
    font-size: 1.4rem;
    color: #3f3f3f;
  }

  .text-secondary{
    font-size: 13px;
  }
  h6{
    font-size: 14px;
  }

  
  /* Branch table */

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table td,
  .table th {
    padding: 12px 15px;
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 13px;
  }
  
  .table th {
    background-color: #464646;
    color: #ffffff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #bdbdbd !important;
}
  
  /*responsive*/
  
  @media (max-width: 500px) {
    .table thead {
      display: none;
    }
  
    .table,
    .table tbody,
    .table tr,
    .table td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
      height: 50px;
    }
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }

  /* map */

  .map-container{
    height: 352px;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 32px;
    border-radius: 10px;
    background-color: #efefef;
  }

  #map{
    width: 100%;
    height: 265px;
    box-shadow: rgb(99 99 99 / 71%) 0px 2px 8px 0px;
    border-radius: 10px;
  }