<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="assets/images/logo.png" alt="" width="140" height="50" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="button-81" role="button" >Login</button>
                </li>
                <!-- <li class="nav-item">
                  <img src="assets/icons/user-icon.png" alt="" width="30" height="30" class="d-inline-block">
                </li> -->
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Aswald Rich
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#"><i class='bx bx-user'></i> My Account</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"><i class='bx bx-log-out'></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
      
        </form>
      </div>
    </div>
  </nav>
<!--  -->

<!-- <app-home></app-home> -->
<!-- <app-login-register></app-login-register> -->
<!-- <router-outlet></router-outlet> -->
<app-registrationpage></app-registrationpage> 

<!--  -->
  <footer>
    <div class="flex">
      <section class="footer-content">
        <h1>VOICE FIRST</h1>
      </section>
      <section class="footer-content">

      </section>
      <section class="footer-content">
        <h3>Features</h3>
        <a href="#">Jobs</a>
        <a href="#">Brand Assets</a>
        <a href="#">Investor Relations</a>
        <a href="#">Terms of Service</a>
      </section>
      <section class="footer-content">
        <h3>Resources</h3>
        <a href="#">Guides</a>
        <a href="#">Research</a>
        <a href="#">Experts</a>
        <a href="#">Agencies</a>
      </section>
      <section class="footer-content">
        <h3>Newsletter</h3>
        <p>You can trust us. we only send promo offers,</p>
        <fieldset class="fixed_flex">
          <input type="email" name="newsletter" placeholder="Your Email Address">
          <button class="btn btn_2">Subscribe</button>
        </fieldset>
      </section>
    </div>
    <div class="flex">
      <section class="footer-content">
        <p>Copyright ©2024 All rights reserved || www.voicefirst.com</p>
      </section>
      <section class="footer-content">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </section>
    </div>
  </footer>

