
.navbar{
    padding: 10px 200px 10px 200px;
    z-index: 1000;;
}
.dropdown-item{
    font-size:13px;
    width: 100%;
    cursor: pointer;
}
.nav-item img{
    cursor: pointer;
    margin-top: 2px;
}

@media screen and (max-width: 600px) {
    .navbar{
        padding: 10px;
    }
}


/* SIGNUP Button */

.button-81 {
    background-color:transparent;
    border: 2px solid #9b9d9e;
    box-sizing: border-box;
    color: #9b9d9e;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 0rem;
    padding: .5rem .7rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .5s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 20px;
  }
  
  .button-81:hover {
    background-color: #f3f2f2;
    color: #202428;
  }
  
  @media (max-width: 600px) {
    .button-81 {
        margin-bottom: 10px;
        
    }
  }
  



a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:rgb(255 255 255);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}


.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
  
    .btn{
        padding:0.5rem 1rem;
        font-size: 9px;
    }
    
    a, p{
        font-size:12px;
    }
}



footer{
    background-color:#212529;;
    color:rgb(255 255 255);
    padding: 4rem;
}

.footer-content{
    width:100%;
    position:relative;
    padding:1rem;
}

footer h3{
    color:var(--secondary);
    margin-bottom:1.5rem;
}

.footer-logo{
    height: 80px;
}

footer a{
    color:rgba(255,255,255,0.6);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--secondary);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color: #323232;
    border: 0;
    color: rgb(255 255 255 / 60%);
    padding: 1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .footer-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width: 40px;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--white);
    padding: 0.5rem;
    margin-right: 3px;
    text-align: center;
}

footer .flex:last-child a:hover{
    background-color:var(--white);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .footer-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .footer-content:last-child{
        text-align:left;
    }
    fieldset input{
        width:100%;
        height: 0px;
        font-size: 8px;
    }
}
@media (max-width:600px){
    .footer-logo{
        height: 50px;
    }
}
@media (max-width:320px){
    footer .flex:first-child .footer-content{
        flex:1 1 100%;
    }
}



/* ================================== */


ul li{
    margin-bottom:20px;
}

.ul li:hover{
    color: aliceblue;
}
.nav-text ,.nav-link i{
    color: #b3b3b3;
}
.dropdown-menu li{
    margin-bottom: 3px;
    width:100%
}

@media (min-width: 1200px) {
    .col-xl-2 {
        width: 13.666667%;
    }
}

/* ====================== */


.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background: #11101d;
	z-index: 100;
	transition: all 0.5s ease;
  }
  .sidebar.close{
	width: 78px;
  }
  .sidebar .logo-details{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
  }
  .sidebar .logo-details i{
	font-size: 30px;
	color: #fff;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links{
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: auto;
  }
  .sidebar.close .nav-links{
	overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
	display: none;
  }
  .sidebar .nav-links li{
	position: relative;
    list-style: none;
    transition: all 0.4s ease;

    font-size: 10px;
  }
  .sidebar .nav-links li:hover{
	background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
	display: block
  }
  .sidebar .nav-links li i{
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
	transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
	display: none;
  }
  .sidebar .nav-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #1d1b31;
	display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
	display: block;
  }
  .sidebar .nav-links li .sub-menu a{
	color: #fff;
    font-size: 13px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
	opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
	display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 15px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
	opacity: 1;
	pointer-events: auto;
    padding: 9px 20px 9px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
	top: 50%;
	transform: translateY(-50%);
  }
  
  .one {
	width: 80%;
	margin-left: 10%;
	background-color: black;
	height: 400px;
  }
  
  .sidebar .profile-details{
	position: fixed;
	bottom: 0;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1d1b31;
	padding: 12px 0;
	transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
	background: none;
  }
  .sidebar.close .profile-details{
	width: 78px;
  }
  .sidebar .profile-details .profile-content{
	display: flex;
	align-items: center;
  }
  .sidebar .profile-details img{
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #1d1b31;
	transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
	padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
	color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
	display: none;
  }
  .sidebar .profile-details .job{
	font-size: 12px;
  }
  .main-section{
	position: relative;
	background: #ffffff;
	min-height: 100vh;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
  }
  .sidebar.close ~ .main-section{
	left: 78px;
	width: calc(100% - 78px);
  }
  .main-section .header-content{
	height: 60px;
	display: flex;
	align-items: center;
  }
  .main-section .header-content .bx-menu,
  .main-section .header-content .text{
	color: #11101d;
    font-size: 25px;
  }
  .main-section .header-content .bx-menu{
	margin: 0 15px;
	cursor: pointer;
  }
  .main-section .header-content .text{
	font-size: 26px;
	font-weight: 600;
  }
  @media (max-width: 420px) {
	.sidebar.close .nav-links li .sub-menu{
	  display: none;
	}
  }

  /* Main content */

  .main-content{
	padding:20px;
	height: 80vh;
  }