<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
               
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
              
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                
            </div>
        </div>
    </div>
</div>
<hr>
