<div class="banner">
    <div class="title">
       
    </div>
</div>


<div class="wrapper">
    <div class="profile-picture">
        <img src="assets/images/user.png" alt="">
    </div>

    <div class="container">
        <div class="edit-icon d-flex justify-content-end">
            <i class="bi bi-pencil-square" style="color: grey;"></i>
        </div>
       <div class="p-details">
        <div class="profile-info">
            <h2>{{userDetails.user_name}}</h2>
            <p>{{userDetails.address}}</p>
            <p>{{userDetails.place}},{{userDetails.sub_region}},{{userDetails.region}}</p>
            <p>{{userDetails.pincode}}</p>
            <p>Email    :{{userDetails.email}}</p>
            <p>Phone    :{{userDetails.phone_number}}</p>
        </div>
        <div class="profile-stats">
            <div>
                <span>65</span>
                <p>Friends</p>
            </div>
            <div>
                <span>43</span>
                <p>Photos</p>
            </div>
            <div>
                <span>21</span>
                <p>Comments</p>
            </div>
        </div>
        <a href="#" class="button">Show more</a>
       </div>
        
    </div>
</div>