<div class="banner">
    <div class="title">
        <h1 class="name-text col-md-12">Register Your Business on<span class="secondary-color"> Voice First</span></h1>
        <p class="mt-5" col-md-12>Connect, Respond, Improve – Transform Customer Feedback into Action</p>
    </div>
</div>
<!--  -->
<div class="wrapper">
    <div class="container">
        <form action="" [formGroup]="companyRegForm">
            <h2>REGISTER</h2>
            <div class="row">
                <div class="form-group col-md">
                    <input type="text"  formControlName="company_name">
                    <label for="companyName">Company Name</label>
                </div>
                <div class="form-group col-md">
                    <input type="text" formControlName="user_name">
                    <label>Username</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md">
                    <input type="email"  formControlName="email">
                    <label>Email</label>
                </div>
                <div class="form-group col-md">
                    <input type="text" formControlName="phone_number">
                    <label>Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md">
                    <input type="text" formControlName="address">
                    <label for="address">Address</label>
                </div>
                <div class="form-group col-md">
                    <input type="text"  name="pincode" formControlName="pincode"
                        (keyup)="getCountryDetailsByPincode($event)">
                    <label for="pincode">ZIP Code</label>
                </div>
            </div>
            <div class="row">
                @if(countryViewArray.length==1){
                    <div class="form-group col-md">
                        <input type="text" value="{{countryViewArray[0].countryName}}" formControlName="country" readonly>
                        <label for="country">Country</label>
                    </div>
                    }
                    @else{
                    <div class="form-group col-md">
                        <label for="country">Country</label>
                        <select (change)="changeCountry($event)" formControlName="country">
                            <option value="" disabled selected></option>
                            @for (Country of countryViewArray; track $index) {
                            <option value="{{Country.countryCode}}">{{Country.countryName}}</option>
                            }
                        </select>
                    </div>
                    }
                    @if(regionView!=null){
                        <div class="form-group col-md">
                            <input type="text" name="regionView" [(ngModel)]="regionView" formControlName="region" readonly>
                            <label for="regionView">Region</label>
                        </div>
                        }
            </div>
           

            <div class="row">
                @if(subRegionView!=null){
                    <div class="form-group col-md">
                        <input type="text" name="subRegionView" [(ngModel)]="subRegionView" formControlName="sub_region" readonly>
                        <label for="subRegionView">Sub-Region</label>
                    </div>
                    }
                    @if(placeView.length==1){
                    <div class="form-group col-md">
                        <input type="text"  formControlName="place" readonly>
                        <label for="place">Place</label>
                    </div>
                    }
                    @else {
                    <div class="form-group col-md">
                        <label for="place">Place</label>
                        <select formControlName="place">
                            <option value="" disabled selected></option>
                            @for (Place of placeView; track $index) {
                            <option value="{{Place.placeName}}">{{Place.placeName}}</option>
                            }
                        </select>
                    </div>
                    }
            </div>

            <div class="row">
                <div class="form-group col-md">
                    <input type="text" formControlName="latitude">
                    <label for="companyName">Latitude</label>
                </div>
                <div class="form-group col-md">
                    <input type="text" formControlName="longitude">
                    <label for="companyName">Longitude</label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md">
                    <input type="password" formControlName="password">
                    <label for="companyName">Password</label>
                </div>
                <div class="form-group col-md">
                    <input type="password">
                    <label for="companyName">Confirm Password</label>
                </div>
            </div>
            

            <button class="reg-btn" type="submit" (click)="onRegister()">REGISTER</button>
        </form>
    </div>
</div>
<!--  -->